$border: (0.5px solid #cbccce);
$font-family: ('Montserrat', sans-serif);
$primary-color: (forestgreen);
$secondary-color:(grey);

$headings: (
    h1: 4em,
    h2: 3em,
    h3: 2em,
    h4: 1em,
    h5: 0.75em,
);

$colores: (
    primario: forestgreen, 
    secundario: grey,
);





